@use '@/assets/styles/mixins' as mixins;

.app {
  display: grid;
  width: 100vw;
  height: 100vh;
}

* {
  scrollbar-color: var(--c1) var(--c2);
  scrollbar-width: 10px;

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-track {
    border-left: 1px solid var(--c2);
    border-radius: 0;
    background: var(--c1);
    padding: 0;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: var(--c2);
  }
}
