@use '@/assets/styles/mixins' as mixins;

.app {
  display: grid;
  width: 100vw;
  height: 100vh;
}

* {
  scrollbar-color: var(--bdr-color) var(--bg-color-l1);
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-track {
    border-left: 1px solid var(--bdr-color);
    border-radius: 0;
    background: var(--bg-color-l1);
    padding: 0;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: var(--bdr-color);
  }
}
