:root {
  --bg-color-l1: #fff;
  --bg-color-l2: #f3f3f3;
  --bg-color-l3: #ddd;
  --bdr-color: #f3f3f3;
  --txt-color-l1: #181818;
  --txt-color-l2: #898989;
  --accent-color: #fedc3f;
  --accent-foreground-color: #1f1f1f;
  --error: #ff3d00;
  --ok: #8eca0c;
  --ui-size-s: 20px;
  --ui-size-m: 40px;
  --ui-size-l: 60px;
}

.theme--dark {
  --bg-color-l1: #181818;
  --bg-color-l2: #1f1f1f;
  --bg-color-l3: #313131;
  --bdr-color: #1f1f1f;
  --txt-color-l1: #fff;
  --txt-color-l2: #bababa;
  --accent-color: #fedc3f;
  --accent-foreground-color: #1f1f1f;
  --error: #ff3d00;
  --ok: #8eca0c;
}

@font-face {
  font-family: Inter;
  src: url('@/assets/Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

* {
  transition:
    color 0.3s ease,
    background 0.3s ease,
    border-color 0.3s ease;
}

body {
  background: var(--bg-color-l1);
  color: var(--txt-color-l1);
  font-family:
    Inter,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    sans-serif;
}
